// ======================================
//  Variables
// ======================================

// Colors

$black: black;
$grey: grey;
$color-love: firebrick;

//Breakpoints

$break-m: 768px;
$break-l: 1024px;