/*****************
banner
*****************/
.banner {
	@extend %secondary-background;
	@include font-format(1.2em);
	@extend %center;
		.profile-image {
		   width: 60%;
	    }
	    .banner-text {
		padding-right: .7em;
		padding-left: .7em;
		color: $grey;
        }
    @media (min-width: $break-m) {
    	& {
    		margin-top: 30px;
    	}
    	.profile-image {
		  	float: right;
		  	width: 41%;
		}
    	.banner-text {
		  	 font-size: 1.2em;
		     float: left;
		     width: 51%;
		     text-align: left;
		     padding: 0;
		     margin: 0;
        }
    }
}



